@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;500;600;700&display=swap');
@media (max-width: 4000px) and (min-width: 832px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    body{
        width: 100%;
        min-height: 100vh;

        background: #131518;
        font-family: 'Overpass', sans-serif;
    
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper{
            width: 412px;
            height: 416px;
            border-radius: 20px;
            padding: 45px 40px 45px 32px;
            background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);

            display: flex;
            justify-content: center;
            align-items: center;

            .container{
                width: 341px;
                height: 352px;
                background: transparent;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                button{
                    width: 193px;
                    height: 32px;

                    border-radius: 20px;
                    border: none;
                    background: #262E38;
                    color: #FC7614;
                    cursor: pointer;
                    &:hover{
                        background: #FFFFFF;
                        color: #FC7614;
                        transition: 0.5s;
                    }
                }
                .text{
                    width: 341px;
                    height: 122px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .txt{
                        font-weight: 700;
                        font-size: 28px;
                        line-height: 36px;
                        color: #FFFFFF;
                    }
                    p{
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 24px;
                        color: #969FAD;
                        text-align: center;
                    }
                }
            }
        }
    }
}
@media (max-width: 832px) and (min-width: 0px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    body{
        width: 100%;
        min-height: 100vh;

        background: #131518;
        font-family: 'Overpass', sans-serif;
    
        display: flex;
        justify-content: center;
        align-items: center;
        .wrapper{
            width: 327px;
            height: 360px;
            border-radius: 20px;
            padding: 45px 40px 45px 32px;
            background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);

            display: flex;
            justify-content: center;
            align-items: center;

            .container{
                width: 279px;
                height: 280px;
                background: transparent;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                button{
                    width: 168px;
                    height: 32px;

                    border-radius: 20px;
                    border: none;
                    background: #262E38;
                    color: #FC7614;
                    cursor: pointer;
                    &:hover{
                        background: #FFFFFF;
                        color: #FC7614;
                        transition: 0.5s;
                    }
                }
                .text{
                    width: 279px;
                    height: 112px;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .txt{
                        font-weight: 700;
                        font-size: 24px;
                        line-height: 30px;
                        color: #FFFFFF;
                    }
                    p{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 22px;
                        color: #969FAD;
                        text-align: center;
                    }
                }
            }
        }
    }
}